

.ul_message {
    background:#C4D8D5;
    padding: 20px;
    width: 50%;
    margin : auto;
    border-radius: 10px;
}


.ul_li_message {
    border: 1px solid grey;
    margin: 5px;
    padding:8px 8px;
    border-radius: 5px;
}
