

.ul_message {
    background: grey;
    padding: 20px;
    height: 50%;
    width: 50%;
    margin : auto;
    border-radius: 10px;
}


.ul_li_message {
    background: #CED1DB;
    margin: 5px;
    list-style-type: decimal;
    padding:8px 8px;
    border-radius: 5px;
}
