html, body {
 margin:0;
 padding:0;
 }
.accueil {
  position: relative;
  padding:0;
 font-family: Verdana, sans-serif;
 background-size: cover;
 background-repeat: no-repeat;
 font-size: 100%;
  margin-bottom: 10px;





 }
 .fondForm{
 }

/* HEADER */
header{
  position:relative;
  top:10px;
  margin-top: -18px;
  height:63px;
  padding-top: 10px;
     border: 0px;
     background-color: white;

}
.header{
  position:relative;
  top:0px;
  margin-top: -18px;
  height:63px;
  padding-top: 10px;
     border: 0px;
     background-color: white;

}
fieldset
   {
      border: 0px;
   }
.logo
{
    margin-left: 10px;
    margin-top: -20px;
    width:100px;
    height:55px;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
    font-family: trebuchet MS, arial, verdana;
}
.li {
    display: inline;
     float: left;
}


  .li a {
    color: #666;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e7e7e7;


}


.deco
{
    float : right;
}

/* FLEXBOX */

.flex-container {

    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap : wrap;
    flex-wrap : wrap;

    background-color: #C4D8D5 ;
    justify-content: space-between;

}

.Block {
    background-color: #ffffff;
    opacity: 0.9;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width: 400px;
    height: -100px;
    margin: 10px;
    border: none;
    min-height: 50vh;
    border-radius: 10px;


}



/* FOOTER */


footer li {
    display: inline;
     float: left;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
    font-family: trebuchet MS, arial, verdana;
}

footer li a {
    color: #666;
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.fondFooter{
  position: fixed;
  bottom: 0;
    background-color: white;
  margin-top: -65px;
  width:200%;
  height:70px;
  left: -50%;
  margin-bottom: 0px;

}
footer {
  position: fixed;
  bottom: 0;
  height: 70px;
  background-color: white;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 0px;
}
.footer2 {
  position: relative;
  bottom: -50px ;
  height: 70px;
  visibility: hidden;

}
footer li a:hover {
    background-color: #e7e7e7;


}
.apropos{
  margin: 30 auto;
  font-family: trebuchet, Arial ;
	color : #818A8E ;
	font-weight:normal;
	font-style: italic;
	text-align: center ;
}
.nhistoire{
  background-color: #C4D8D5;
}
