.fondDufond {

    display: flex;
    flex-wrap : wrap;
    justify-content:center;

}


.BlockFlex {
    margin-top: 5%;
    background-color:  rgba(255, 255, 255, 0.5);
    width: 20%;
    margin-right: 2%;
    height: -100px;
    border: none;
    min-height: 50vh;
    border-radius: 10px;
    padding-right: 20px;


}
.thermometre{
    height :20px ;
    width :55px  ;
    max-width: 100%;
    height: auto;
    margin-left: 40px;
    margin-top: 40px;
}
.radiateurs{
    font-family: Comic Sans MS,Arial;
    margin-left: 120px;
    margin-top: -170px;
    font-size: 25px;
}
.ampoule {
    height :50px ;
    width :110px  ;
    max-width: 100%;
    height: auto;
    margin-left: -5px;
    margin-top: 80px;
}
.lumiere {
    font-family: Comic Sans MS,Arial;
    margin-left: 100px;
    width:130px;
    margin-right: -100px;
    margin-top: -120px;
    font-size: 25px;
}
.cadena {
    height :20px ;
    width :120px  ;
    max-width: 100%;
    height: auto;
    margin-left: 10px;
    margin-top: 80px;
}
.porte {
    font-family: Comic Sans MS,Arial;
    margin-left: 140px;
    margin-right: -100px;
    margin-top: -30px;
    font-size: 25px;
}
.Volets{
    font-family: Comic Sans MS,Arial;
    margin-left: 140px;
    margin-right: -100px;
    margin-top: -180px;
    font-size: 25px;
}
.alarme {
    height :20px ;
    width :130px  ;
    max-width: 100%;
    height: auto;
    margin-left: 20px;
    margin-top: 80px;
    margin-bottom: 15px;
}
.eteint {
    font-family: Comic Sans MS,Arial;
    margin-left: 170px;
    margin-right: -100px;
    margin-top: -90px;
    font-size: 25px;
}
/* boutons */

    .onoffswitch {
        position: relative; width: 78px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #595757; border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #49BAD6; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #DBD8D8; color: #878585;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 18px; margin: 6px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 44px;
        border: 2px solid #595757; border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }
    .centre{
        width: 60%;
        margin-left: 70%;
        margin-top: -10px;

    }







    s
